* {
  font-family: 'Lato', sans-serif;
}

.bg-primary-color {
  background-color: #fff;
}

.bg-secondary-color {
  background-color: #ece8e2;
}

.bg-dark-color {
  background-color: #050505;
}

.primary-color {
  color: #050505;
}

.secondary-color {
  color: #7a7a7a;
}

body{
  background-color: #E3C506;
}

#slider .btn{
  opacity: 70%;
}

/* NAVBAR */
#navbar {
  border-bottom: 2px solid #050505;
  height: 110px;
}

#navbar a {
  color: #050505;
}

#navbar a:hover {
  color: #7a7a7a;
}

#navbar .active {
  border-bottom: 1px solid #050505;
}

.navbar-brand {
  display: inline-block;
}

.navbar-brand img {
  width: 100px;
  height: 100px;
}

.navbar-brand span {
  font-weight: 700;
  font-size: 1em;
  /* margin-left: 0.5em; */
}

#navbar-items .navbar-nav {
  display: flex;
  justify-content: end;
  width: 100%;
}

#navbar-items .nav-item {
  margin: 0 0.2em;

}

#navbar-items ul{
  font-weight: 900;
  background-color: #fff;
  text-align: end;
  padding-right: 40px;
  opacity: 80%;
  
}

/* SLIDER */
#slider {
  margin-top: 8em;
  margin-bottom: 1em;
}

#slider .carousel-caption {
  bottom: 3em;
}

#slider .carousel-caption h5 {
  font-size: 2.5em;
  text-shadow: #000 2px 2px;
}

.btn {
  border-radius: 0;
}

#slider .btn {
  padding: 0.3em 0.8em;
  font-size: 1em;
  margin-top: 1em;
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 0.7;
}

.carousel-control-prev i,
.carousel-control-next i {
  color: #fff;
  font-size: 3em;
}

.carousel-indicators [data-bs-target] {
  background-color: #222;
  opacity: 0.8;
}

.carousel-indicators .active {
  background-color: #000;
}

@media (min-width: 768px) {
  #slider .carousel-caption {
    bottom: 15em;
  }
  #slider .carousel-caption h5 {
    font-size: 4em;
    text-shadow: #000 2px 3px;
  }
  #slider .btn {
    padding: 0.6em 1.6em;
    font-size: 1.2em;
    margin-top: 1em;
  }
  .carousel-indicators {
    bottom: 7em;
  }
}

/* MINI BANNERS */
#mini-banners {
  margin-bottom: 2em;
}

#mini-banners .card {
  padding: 2em 0.3em;
  border-radius: 0;
}

#mini-banners i {
  font-size: 4em;
}

#mini-banners .card-title {
  margin-bottom: 1.5em;
}

#mini-banners .btn {
  margin-top: 1.5em;
  padding: 0.6em 1.2em;
}

#mini-banners .card {
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  #mini-banners {
    margin-top: -6em;
  }
}

/* TEATRO EMPRESARIAL E ESPETACULOS */
/*desktops e notebooks*/
@media (min-width: 992px){
 
  .empresarial h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 25px;
    
  }

  .empresarial h5{
    margin-bottom: 10px;
    color: #050505;
    border-left: 5px solid #050505;
    padding-left: 7px;
    font-size: 24px;
  }

  .empresarial h3{
    text-align: center;
    margin-bottom: 20px;
  }

  
  .empresarial #desc-empresarial{
    text-align: center;
    margin-bottom: 25px;
  }
  
  
  #produtos img{
    width: 300px;
    height: 300px;
  }
  
  .area-texto{
    width: 300px;
    height: 200px;
  }
  
  .area-imagem{
    width: 516px;
    height: 350px;
    
  }
  #clientes img{
    text-align: center;
    margin-top: 1.5em;
  }

  /*Espetaculos*/
  .espetaculos{
    display: flex;
  }

  .area-espetaculos{
    width: 400px;
    height: 400px;
    margin-top: 80px;
    margin-bottom: 60px;
  }

  .titulo-espetaculos{
    margin-top: 50px;
    text-align: center;
  }

  .textos-espetaculos{
    margin-right: 25px;
  }


}
/*dispositivos móveis*/
@media (max-width: 767px){

  .navbar-brand img {
    width: 70px;
    height: 70px;
  }

  .empresarial{
    text-align: center;
  }

  .empresarial h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
    
  }

  .empresarial #desc-empresarial{
    text-align: center;
    margin-bottom: 20px;
    font-size: 15px;
  }

  .area-texto{
    text-align: center;
    font-size: 15px;
    margin-bottom: 2em;
  }

  .area-texto h5{
    font-weight: 700;
  }

  .area-imagem{
    justify-content: center;
    margin-bottom: 2em;
  }
  
  #produtos img{
    width: 100%;
    height: 400px;
    display: block;
    
  }

  #clientes h3{
    margin-bottom: 1em;
  }

  #clientes img{
    margin-bottom: 1.5em;
  }

  /*espetaculos*/
  .espetaculos{
    display: block;
    text-align: center;
  }

  .area-texto-espetaculos{
    width: 100%;
  }

  .espetaculos #carouselEspetaculos{
    width: 100%;
    margin-bottom: 1em;
  }

}
  /*Meio Termo*/
  @media (min-width: 768px) and (max-width: 991px){

    #slider .carousel-caption {
      bottom: 19em;
    }
    #slider .carousel-caption h5 {
      font-size: 3em;
      text-shadow: #000 2px 3px;
    }
    #slider .btn {
      padding: 0.5em 1em;
      font-size: 1em;
      margin-top: 2em;
      width: 100PX;
      height: 40px;
    }

    /* Mini Banners */
    #mini-banners {
      width: 600px;
      height: 300px;
      margin-bottom: 10em;
    }
    
    #mini-banners .card {
      padding: 2em 0.3em;
      border-radius: 0;
    }
    
    #mini-banners i {
      font-size: 4em;
    }
    
    #mini-banners .card-title {
      margin-bottom: 1.5em;
    }
    
    #mini-banners .btn {
      margin-top: 1.5em;
      padding: 0.6em 1.2em;
    }
    
    #mini-banners .card {
      margin-bottom: 1em;
    }


    .carousel-indicators {
      bottom: 7em;
    }

    .navbar-brand img {
      width: 70px;
      height: 70px;
    }

    .empresarial{
      margin-bottom: 20px;
    }

    .empresarial .area-texto{
      text-align: left;
    }

    .empresarial #desc-empresarial{
      text-align: center;
      margin-bottom: 20px;
      font-size: 15px;
    }
  
    .empresarial h2{
      text-align: center;
      font-size: 30px;
      margin-bottom: 15px;
      
    }

    #produtos{
      margin-bottom: 2em;
    }

    #clientes h3{
      margin-bottom: 1em;
    }
    #produtos img{
      width: 220px;
      height: 220px;
      margin-bottom: 2em;
    }

    .area-texto{
      width: 220px;
      height: 200px;
      margin-right: 15px;
      font-size: 14px;
    }

    .area-imagem{
      width: 220px;
      height: 220px;
      margin-right: 15px;
      
    }


    #clientes h3{
      text-align: center;
    }

     /*espetaculos*/

      #carouselEspetaculos{
        margin-bottom: 2em;
      }
      .espetaculos{
        display: block;
        text-align: center;

      }

      .espetaculos h2{
        margin-top: 1em;
        margin-bottom: 1em;
      }

      .area-texto-espetaculos{
        width: 100%;
      }

      .espetaculos #carouselEspetaculos{
        width: auto;
      }

  }


/* FOOTER TOP */
#footer {
  padding: 3em 2em;
}

#contato-icons,
#contato-icons i {
  color: #fff;
}

#contato-icons i {
  margin-right: 1em;
  font-size: 1.5em;
  cursor: pointer;
}

#contato-icons i:hover {
  color: #7a7a7a;
}

/* FOOTER DETAILS */
#footer-details {
  margin-bottom: 3em;
}

#contact-container{
  text-align: center;
  margin-top: 80px;
}


#news-container,
#links-container {
  padding: 0;
  border: 0;
  margin-bottom: 2em;
}

#footer-details h5 {
  color: #fff;
  margin-bottom: 1.5em;
  text-align: center;
}

#footer-details h4 {
  color: #fff;
  margin-bottom: 1.5em;
}

#news-container input {
  border-radius: 0;
  border: none;
}

#links-container li {
  margin-bottom: 0.5em;
}

#links-container a {
  text-decoration: none;
}

#links-container a:hover {
  color: #fff;
}

/* FOOTER BOTTOM */
#footer-bottom {
  border-top: 1px solid #7a7a7a;
  padding-top: 2em;
}

#footer-bottom i {
  color: #e61e10;
}

@media (min-width: 768px) {
  #news-container {
    padding-right: 2em;
  }

  #contact-container {
    padding: 0 2em;
    border-left: 1px solid #7a7a7a;
  }

  #links-container {
    padding-left: 2em;
  }
}

/* PAGINA DE AGREDECIMENTO */
.body-agradecimento{
    background-color: #FFC300;

}

.container-agradecimento{
  height: 100%;
  width: auto;
  margin-top: 100px;
}

.agradecimento{
  width: 400px;
  height: 400px;
  margin: auto;
  text-align: center;
}

.agradecimento button{
  background-color: #222;
  color: #ece8e2;
  height: 40px;
}

/* Dispostivos móveis menores ajustes capas */
@media (max-width: 470px){

  #slider .carousel-caption {
    bottom: 1em;
  }
  #slider .carousel-caption h5 {
    font-size: 1.5em;
    text-shadow: #000 1px 2px;
  }
  #slider .btn {
    padding: 0.3em 1.6em;
    font-size: 0.9em;
    margin-top: 1em;
    width: 110px;
    height: 35px;
    opacity: 70%;
  }
  .carousel-indicators {
    bottom: 0.1em;
  }

}
